
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#li_1{
    color: gold;
}

nav{
    display: flex;
    flex-direction:column;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    font-size: 130%;
    list-style-type: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: gray;

}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 80vh;
}


.slide {
    width: 100%;
    transition: 0.3s;
}

.slide img {
    width: 100%;
    height: 100%;
}
@keyframes slide1 {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}


.slides {
    animation: slide1 10s infinite;
}
footer{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin-top: 5%;
}
footer div{
    width: 25%;
    padding: 1%;
}


        .search-bar {
            width: 300%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; 
            border: 2px solid black;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #222323;
            color: white;
            cursor: pointer;
            font-size: 100%;
            margin-top: 4%;
        }

        .search-button:hover {
            background-color: #0056b3;
        }

        footer div ul li{
            list-style-type: none;
            font-size: 90%;
            line-height: 120%;
        }
        footer div ul a{
            text-decoration: none;
            color: black;
        }
        .icon,.fa-home {
            font-size: 24px; 
            color: black; 
        }
        .icon:hover {
            color: gold;
        }
        .fa-home:hover {
            color: gold;
        }
        #div_1{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;  
        }
        #div_icon {
            height: 30%;
            width: 20%;
            position: absolute; 
            right: 0; 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }

          
.row img:hover{
    opacity: 0.5;
}

.item{
    padding: 1%;
}


         
         
.slider2 {
    width: 100%;
    overflow: hidden;
}

.slides2 {
    display: flex;
    width: 300%;
    height: 60vh;
}


.slide2 {
    display: flex;
    width: 33.3%;
    transition: 0.3s;

}

.slide2 img {
    width: 70%;
    height: 70%;
    padding: 1%;
}
@keyframes slide2 {
    0% {
<<<<<<< HEAD
        margin-left: 0%; 
    }
    25% {
        margin-left: -33.33%; 
    }
    50% {
        margin-left: -66.66%; 
=======
        margin-left: 0;
    }
    25% {
        margin-left:-33.3;
    }
    50% {
        margin-left: -66.6%;
>>>>>>> fa8be8ee1700658a0ac4ba2e562b32fe31593c23
    }
    75% {
        margin-left: -99.9%;
    }
<<<<<<< HEAD
    100%{
        margin-left: 0%;
=======
    100% {
        margin-left: 0;
>>>>>>> fa8be8ee1700658a0ac4ba2e562b32fe31593c23
    }
    
}


.slides2 {
    animation: slide2 10s infinite;
}
.slide2 a{
    display: flex;
    width: 100%;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: bold;
    align-items: center;
    text-align: center;

   
}
.slide2 a:hover{
    opacity: 0.5;
}
.banner{
    text-align: center;
    margin-top: 5%;
}


.dropdown li{
    display: block;
}
.dropdown{
    width: 50%;
    line-height: 300%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
    font-size:60% ;
}
.dropdown img{
    width: 50%;
}
.dropdown li a:hover{
    background: #e5e8c3;
}
.nav_main li:hover ul.dropdown{
    display: block;
}

@media screen and (max-width:900px){
    .slide img{
        height: 40%;
    }
    .slider{
        height: 35vh;
    }
    #grid{
    height: 40vh;
    font-size: 60%;
    margin-bottom: 15%;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .slider1{
        margin-top: 10%;
        height: 30vh;
    }
    .slider1 img{
        height: 30%;
    }

    .banner{
        margin-top: -5%;
    }
    .slider2{
        height: 30vh;
    }
    .slider2 img{
        height: 50%;
    }
    .slides2{
        height: 30vh;
    }
    .search{
        margin-left: 5%;
    }
} 
@media screen and (max-width:600px) {
    nav ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .search div{
        width: 100%;
    }
    .slide2 a{
        font-size: 60%;
    }

   #div_icon{
    display: flex;
    flex-direction: column;
    height: 80%;
   }
   .dropdown{
    width: 80%;
    font-size: 80%;
   }
   .dropdown img{
    width: 70%;
   }
  
   #grid{
    grid-template-columns: 50% 50%;
    margin-bottom: 200%;
   }
 
  .slider1{
    margin-bottom: 5%;
  }
  .slider2{
    font-size: 70%;
  }
  .slider2 img{
    height: 40%;
  }
  .item{
    width: 96%;
    margin-left: 4%;
  }
  .img-fluid{
    height: 100%;
  }
  
}
