
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#li_1{
    color: gold;
}

nav{
    display: flex;
    flex-direction:column;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    font-size: 130%;
    list-style-type: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: gray;

}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 80vh;
}


.slide {
    width: 100%;
    transition: 0.3s;
}

.slide img {
    width: 100%;
    height: 100%;
}
@keyframes slide1 {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    95% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}


.slides {
    animation: slide1 10s infinite;
}
footer{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin-top: 5%;
}
footer div{
    width: 25%;
}


        .search-bar {
            width: 300%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; 
            border: 2px solid black;
        }

        .search-button {
            padding: 10px 20px;
            border: none;
            background-color: #222323;
            color: white;
            cursor: pointer;
            font-size: 120%;
            margin-top: 4%;
        }

        .search-button:hover {
            background-color: #0056b3;
        }

        footer div ul li{
            list-style-type: none;
            font-size: 90%;
            line-height: 120%;
        }
        footer div ul a{
            text-decoration: none;
            color: black;
        }
        .icon,.fa-home {
            font-size: 24px; 
            color: black; 
        }
        .icon:hover {
            color: gold;
        }
        .fa-home:hover {
            color: gold;
        }
        #div_1{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;  
        }
        #div_icon {
            height: 30%;
            width: 20%;
            position: absolute; 
            right: 0; 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }
          #grid{
            margin-top: 2%;
            margin-bottom: 2%;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
          }
          #grid img{
          padding: 1%;
          }
         
         
          #span{
  grid-column: span 2;
  align-self: start; 
}
#span1{
    grid-column: span 2;
    align-self: start;

  }
#span img{
    width: 100%;
}
#grid img{
    width: 100%;
}
.temp{
    height: 80%;
}
.temp1{
    height: 85%;
}
#grid a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
#grid a:hover {
    opacity: 0.6;
  }
  
  .slider1 {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}


.slides1 {
    display: flex;
    width: 300%;
    height: 70vh;
}


.slide1 {
    display: flex;
    width: 33.3%;
    transition: 0.3s;
}

.slide1 img {
    width: 100%;
    height: 70%;
    padding: 1%;
}
@keyframes slide1 {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    
    100% {
        margin-left: 0;
    }
}


.slides1 {
    animation: slide1 10s infinite;
}
.slide1 a{
    width: 100%;
    padding: 1%;
    text-decoration: none;
    color: black;
    font: 50px;
    font-weight: bold;
    text-align: center;
}
.slide1 a:hover{
    opacity: 0.5;
}
         
.slider2 {
    width: 100%;
    overflow: hidden;
}

.slides2 {
    display: flex;
    width: 300%;
    height: 60vh;
}


.slide2 {
    display: flex;
    width: 33.3%;
    transition: 0.3s;
}



.slide2 img {
    width: 70%;
    height: 70%;
    padding: 1%;
}
@keyframes slide2 {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    
    100% {
        margin-left: 0;
    }
}


.slides2 {
    animation: slide1 10s infinite;
}
.slide2 a{
    display: flex;
    width: 100%;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: bold;
    align-items: center;
    text-align: center;

   
}
.slide2 a:hover{
    opacity: 0.5;
}
.banner{
    text-align: center;
    margin-top: 5%;
}


/*==================
    Base Styles
===================*/



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    display: none;
}

.container {
    background: rgb(255, 255, 255);
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 2em;
}

.slide-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 3em;
    width: 40%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
    overflow: hidden;
}

/*==================
    Slides
===================*/

#slide-role {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    z-index: 100;
    transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* flex */
    display: flex;
}

.slide {
    width: 50%;
    height: 100%;
    background-size: cover;
    
}

/* backgrounds */

.slide-1 {
    background-image: url(images/458423687_936102635224289_2097977309242954274_n.jpg);
}

.slide-2 {
    background-image: url("images/458470695_936109248556961_1365047911976833853_n.jpg");
}

.slide-3 {
    background-image: url("images/459098376_937504638417422_5259389554033535782_n.jpg");
}

.slide-4 {
    background-image: url("images/458926284_937502371750982_1652200371361536974_n.jpg");
}

/*===================
    BUTTONS
====================*/

.btn,
.btn::after {
    border-radius: 50%;
    transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.281);
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
    position: absolute;
    bottom: 12%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1000;
}

.btn:nth-of-type(1) {
    left: 38%;
}

.btn:nth-of-type(2) {
    left: 45%;
}

.btn:nth-of-type(3) {
    left: 52%;
}

.btn:nth-of-type(4) {
    left: 59%;
}

.btn:hover {
    transform: scale(1.4);
}

/* buttons Atom! */

.btn::after {
    content: "";
    display: inline-block;
    border: 1px solid white;
    background: rgb(11, 185, 238);
    width: 20px;
    height: 20px;
    margin: 3px 3px;
    transform: scale(.5, .5);
    box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

/*====================
        L O G I C 
 ===================*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
    left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
    left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
    left: -300%;
}

/* button logic */

input[type="radio"]:checked+label.btn {
    transform: scale(1.2);
    border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btn::after {
    transform: scale(1.1, 1.1);
    background: lightskyblue;
}

/*=====================================================================================
                MEDIA QUERIES
=======================================================================================*/

@media only screen and (max-width: 900px) {
    .slide-wrapper {
        width: 90%;
        height: 100%;
    }
    .btn:nth-of-type(1) {
        left: 93%;
        bottom: 60%;
    }
    .btn:nth-of-type(2) {
        left: 93%;
        bottom: 50%;
    }
    .btn:nth-of-type(3) {
        left: 93%;
        bottom: 40%;
    }
    .btn:nth-of-type(4) {
        left: 93%;
        bottom: 30%;
    }
}

@media only screen and (max-width: 450px) {
    .btn:nth-of-type(1) {
        left: 91%;
    }
    .btn:nth-of-type(2) {
        left: 91%;
    }
    .btn:nth-of-type(3) {
        left: 91%;
    }
    .btn:nth-of-type(4) {
        left: 91%;
    }
}

.dropdown li{
    display: block;
}
.dropdown{
    width: 50%;
    line-height: 300%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
    font-size:60% ;
}
.dropdown img{
    width: 50%;
}
.dropdown li a:hover{
    background: #e5e8c3;
}
.nav_main li:hover ul.dropdown{
    display: block;
}

@media screen and (max-width:900px){
    .slide img{
        height: 40%;
    }
    .slider{
        height: 35vh;
    }
    #grid{
    height: 40vh;
    font-size: 60%;
    margin-bottom: 15%;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .slider1{
        margin-top: 10%;
        height: 30vh;
    }
    .slider1 img{
        height: 30%;
    }

    .banner{
        margin-top: -5%;
    }
    .slider2{
        height: 30vh;
    }
    .slider2 img{
        height: 50%;
    }
    .slides2{
        height: 30vh;
    }
    .search{
        margin-left: 5%;
    }
} 
@media screen and (max-width:600px) {
    nav ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .search{
        padding: 7%;
    }
    .search div{
        width: 100%;
    }
    .slide2 a{
        font-size: 60%;
    }

   #div_icon{
    display: flex;
    flex-direction: column;
    height: 80%;
   }
   .dropdown{
    width: 80%;
    font-size: 80%;
   }
   .dropdown img{
    width: 70%;
   }
  
   #grid{
    grid-template-columns: 50% 50%;
    margin-bottom: 200%;
   }
 
  .slider1{
    margin-bottom: 5%;
  }
  .slider1 img{
    height: 25%;
  }
  .slider2 img{
    height: 40%;
  }
  
}